.reg-flex-container, .training-flex-container, .reading-flex-container, .government-flex-container {
	display: flex;
}
.one, .two, .three, .four, .five {
	flex: 1 1 100px;;
	border: 2px solid #ff6a00bf;
}
@font-face {
  font-family: 'PermanentMarker';
  src: url('../fonts/PermanentMarker-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'B612-Regular';
  src: url('../fonts/B612-Regular.ttf')  format('truetype');
}
/**@font-face {
  font-family: 'B612-Bold';
  src: url('../fonts/B612-Bold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Pangolin';
  src: url('../fonts/Pangolin-Regular.ttf')  format('truetype');
}
**/
H1, H2 {
  font-family: 'PermanentMarker', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}
H2 {
    padding-left: 20px;
}
a {
  font-family: 'B612-Regular', sans-serif;
  text-decoration: none;
}
a:link    {color:#004fff;}
a:visited {color:#004fff;}
a:hover   {color:#004fff;}
a:active  {color:#004fff;}
li {
	padding-bottom: 10px;
}
